# gitignore

# numerous always-ignore extensions
*~
*.diff
*.orig
*.log
*.swp
*.zip
*.csv
*.dat
*.gz
*.map

# OS or Editor folders
.DS_Store
>_*
Thumbs.db
.cache
.AppleDouble

# Folders to ignore
.htaccess
.hg
.svn
.ssh
.grunt
.sass-cache
node_modules
components
bower_compornents
logs
# sql
map

# ignore wp files
wp-config.php
wp-content/themes/twenty*
# uploads
